name: Python with GitHub Actions

on:
  push:
    branches:
      - main

jobs:
  run-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Step one
        run: echo "YAML indentation is clear"

      - name: Step two
        run: echo "I can write GitHub Actions YAML"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Run Python script
        run: python check.py

